@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif!important;
}

@media screen and (min-width:1024px) {
    .wrapper {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
    }
}

#nav .navbar-brand {
    color: #003F59;
    font-size: 14px;
    text-transform: uppercase;
}

#nav .nav-link {
    color: #003F59;
    font-size: 14px;
}

#nav .search-container {
    position: relative;
}

#nav .wrap-search-form {
    display: flex;
    position: fixed;
    left: 66%;
    z-index: 999999;
    top: 7%;
    background: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -webkit-box-shadow: 0px 5px 37px -18px rgb(0 0 0 / 43%);
    -moz-box-shadow: 0px 5px 37px -18px rgba(0, 0, 0, 0.43);
}

#nav .input-search {
    border: none;
    padding: 10px;
    border-radius: 50px;
    height: 30px;
}

#nav .input-search:focus-visible {
    outline: none;
}

#nav .button-search {
    background: #70887B;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
}

#nav .search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0 0;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    #nav .wrap-search-form {
        left: 15%;
        top: 52%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    #nav .wrap-search-form {
        left: 55%;
        top: 40%;
    }
}

@media screen and (min-width:769px) and (max-width:820px) {
    #nav .wrap-search-form {
        left: 55%;
        top: 35%;
    }
}

@media screen and (min-width:821px) and (max-width:1024px) {
    #nav .wrap-search-form {
        left: 55%;
        top: 30%;
    }
}

#header {
    background: linear-gradient(180deg, #D9FFF2 0%, rgba(233, 255, 247, 0) 74.08%);
    height: auto;
    padding: 70px 0 0 0;
}

#header img.header-1 {
    width: 100%;
    max-width: 454px;
    height: auto;
    display: block;
    margin: 100px auto 20px auto;
}

#header img.header-2 {
    width: 100%;
    max-width: 733px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

#header img.count-down {
    width: 100%;
    max-width: 275px;
    height: auto;
    display: block;
    margin: 20px auto;
}

#header .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#header h5 {
    color: #003F59;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    width: 200px;
}

#header p {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 3px;
}

@media screen and (max-width:481px) {
    #header img.header-1 {
        margin: 0px auto 20px auto;
    }
    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}

#ramadhan img {
    width: 100%;
    max-width: 321px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 12px;
}

#selebritis h1 {
    color: #003F59;
    font-size: 24px;
}

#selebritis .bg {
    position: relative;
    width: 100%;
    max-width: 328px;
    margin: 15px auto;
}

#selebritis .overlay {
    background: rgba(10, 10, 10, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15% 32px;
    line-height: 1.5;
    border-radius: 12px;
}

#selebritis img.kabar {
    width: 100%;
    max-width: 328px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: cover;
}

#selebritis .top-left {
    position: absolute;
    top: 15px;
    left: 16px;
}

#selebritis .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#selebritis tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

#selebritis p {
    color: #fff;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#selebritis span {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

#ads-left .left {
    position: fixed;
    z-index: 1;
    /* top: 50px;
    left: 0; */
    margin-top: 50px;
    margin-left: -170px;
    overflow-x: hidden;
    color: #fff;
}

#ads-left .close-left {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 2px 6px;
    transform: translate(0%, -50%);
    background-color: black;
    border-radius: 0 0 15px 0;
}

@media screen and (max-width:1024px) {
    #ads-left {
        display: none;
    }
}


/* @media screen and (min-width:1440px) {
    #ads-left .left {
        left: 65px
    }
} */

#ads-right .right {
    position: fixed;
    z-index: 1;
    /* top: 50px;
    right: 0; */
    margin-top: 50px;
    margin-left: 955px;
    color: #eee;
    overflow-x: hidden;
}

#ads-right .close-right {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;
    padding: 2px 6px;
    transform: translate(0%, -50%);
    background-color: black;
    border-radius: 0 0 0 15px;
}

@media screen and (max-width:1024px) {
    #ads-right {
        display: none;
    }
}


/* @media screen and (min-width:1440px) {
    #ads-right .right {
        right: 65px
    }
} */

#ads-footer .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 1;
    color: #fff;
}

#ads-footer img {
    width: 100%;
    max-width: 970px;
    height: 90px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

#ads-footer .close-footer {
    cursor: pointer;
    position: absolute;
    bottom: 85%;
    right: 0%;
    padding: 2px 6px;
    transform: translate(0%, -50%);
    background-color: black;
    border-radius: 15px 0 0 0;
}

#ads-banner img {
    width: 100%;
    max-width: 970px;
    height: auto;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

#kabar h1 {
    color: #003F59;
    font-size: 24px;
}

#kabar img {
    width: 100%;
    max-width: 138px;
    height: 138px;
    display: block;
    margin: 0 auto 20px auto;
    float: left;
    object-fit: cover;
    border-radius: 12px;
}

#kabar .col-lg-4:nth-child(odd) tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 12px;
}

#kabar .col-lg-4:nth-child(even) tag {
    background-color: #006B9D;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 12px;
}

#kabar p {
    color: #000;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px 0 0 0;
    padding: 0 5px;
    font-size: 13px;
}

#kabar span {
    color: #00AE9D;
    font-weight: 600;
    font-size: 12px;
    padding: 0 5px;
}

#serbaserbi {
    background: url("../images/serbaserbi/bg.png");
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 20px 0;
}

#serbaserbi h1 {
    color: #fff;
    font-size: 24px;
}

#serbaserbi .bg {
    position: relative;
    width: 100%;
    max-width: 442px;
    margin: 15px auto;
}

#serbaserbi .bg-2 {
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 15px auto;
}

#serbaserbi .overlay {
    background: rgba(10, 10, 10, .4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15% 32px;
    line-height: 1.5;
    border-radius: 12px;
}

#serbaserbi img.serbaserbi-1 {
    width: 100%;
    max-width: 1046px;
    height: 346px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: cover;
}

#serbaserbi img.serbaserbi-2 {
    width: 100%;
    max-width: 270px;
    height: 346px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: cover;
}

#serbaserbi .top-left {
    position: absolute;
    top: 15px;
    left: 16px;
}

#serbaserbi .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#serbaserbi .col-lg-6 tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 12px;
}

#serbaserbi .col-lg-3:nth-child(odd) tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 12px;
}

#serbaserbi .col-lg-3:nth-child(even) tag {
    background-color: #006B9D;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 0 5px;
    font-size: 12px;
}

#serbaserbi p {
    color: #fff;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#serbaserbi span {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

#kultum {
    padding: 20px 0;
}

#kultum h1 {
    color: #003F59;
    font-size: 24px;
}

#kultum img.kultum {
    width: 100%;
    max-width: 321px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 12px;
    object-fit: cover;
}

#kultum img.hijrah {
    width: 100%;
    max-width: 138px;
    height: 138px;
    display: block;
    margin: 0 10px 0 auto;
    float: left;
    border-radius: 12px;
    object-fit: cover;
}

#kultum tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

#kultum p {
    color: #000;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0 0 0
}

#kultum span {
    color: #00AE9D;
    font-weight: 600;
    font-size: 12px;
}

#video {
    background-color: #EFF9F8;
    padding: 20px 0;
}

#video img.head {
    width: 100%;
    max-width: 325px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 12px;
}

#video h1 {
    color: #003F59;
    font-size: 24px;
}

#video .bg {
    position: relative;
    width: 100%;
    max-width: 325px;
    margin: 10px auto;
}

#video .centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video tag {
    background-color: #01A99D;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

#video p {
    color: #000;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0 0 0;
}

#video span {
    color: #9E9E9E;
    font-weight: 600;
    font-size: 12px;
}

#video .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #003F59;
    background-color: #d9d9d9;
    font-weight: 700;
}

#video .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #003F59;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: 700;
}

#video .content-1,
.content-2,
.content-3,
.content-4 {
    display: none;
}

#video #loadMorecontent-1,
#loadMorecontent-2,
#loadMorecontent-3,
#loadMorecontent-4 {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #01A99D;
    transition: .3s;
}

#video #loadMorecontent-1:hover,
#loadMorecontent-2:hover #loadMorecontent-3:hover,
#loadMorecontent-4:hover {
    color: #01A99D;
    background-color: #fff;
    border: 1px solid #01A99D;
    text-decoration: none;
}

#video .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}

#sosial {
    padding: 20px 0;
}

#sosial h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
}

#sosial .sosmed img {
    margin: 0 10px;
    border: 1px solid #DADADA;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    padding: 10px;
}

#sosial p {
    text-align: center;
    margin: 10px 0 0 0;
}

#redaksi {
    background-color: #01A99D;
    padding: 20px;
    margin: 20px 0;
}

#redaksi .foot a {
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 15px;
    text-align: center;
}

#redaksi .foot a:last-child {
    border-right: none
}

#artikel {
    padding: 50px 0 0 0;
}

#artikel h4 {
    color: #224A7A;
    font-size: 18px;
}

#artikel h3 {
    color: #003F59;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

#artikel img.isi {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    object-fit: cover;
}

#artikel figcaption {
    color: #878787;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#artikel p {
    line-height: 30px;
}

#artikel p.date {
    color: #343a40;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    text-align: right;
}

#artikel .tag {
    display: flex;
    flex-wrap: wrap;
}

#artikel .tag p {
    border: 1px solid #B3B3B3;
    padding: 10px;
    margin-right: 15px;
    border-radius: 10px;
    font-size: 12px;
    color: #000;
}

#artikel .tag p:hover {
    background-color: #131D38;
    color: #ffffff;
}

#artikel .header {
    color: #000;
    font-weight: 700;
    width: 10%;
    margin-bottom: 10px;
}

#artikel img.ads-side {
    width: 100%;
    max-width: 300px;
    height: 250px;
    display: block;
    margin: 0 auto 10px auto;
}

#artikel img.side {
    width: 100%;
    max-width: 123px;
    height: 100px;
    margin: 0 auto;
    padding-right: 15px;
    object-fit: cover;
    float: left;
}

#artikel p.side {
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    font-size: 13px;
    margin: 0;
}

#artikel p.side-date {
    color: #9D9D9D;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}

#artikel .shark-2 {
    position: sticky;
    top: 6rem;
}

#artikel .container-sticky {
    height: 1000px;
}

#artikel .col-lg-12:nth-child(even) .side-tag {
    background-color: #01A99D;
    display: -webkit-box;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    margin: 3px;
    width: 100px;
    display: flex;
    justify-content: center;
}

#artikel .col-lg-12:nth-child(odd) .side-tag {
    background-color: #006B9D;
    display: -webkit-box;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    margin: 3px;
    width: 100px;
    display: flex;
    justify-content: center;
}

#artikel li {
    word-wrap: break-word;
    margin-bottom: 15px;
}

@media screen and (max-width:600px) {
    #artikel p.date {
        font-size: 11px;
    }
    #artikel .container-sticky {
        height: auto;
    }
}

#tadarus {
    padding: 50px 0;
}

#tadarus .tadarus .header-tadarus {
    background: #18625F;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tadarus .tadarus .header-tadarus h1 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
}

#tadarus .tadarus .header-tadarus .pilihan {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tadarus .tadarus .header-tadarus .pilihan .form-group-select {
    margin: 5px;
    padding: 7px 5px;
    background: #fff;
    min-width: 50px;
    width: 130px;
}

#tadarus .tadarus .header-tadarus .pilihan .form-group-select select {
    outline: none;
    border: 0px;
    width: 100%;
    background: #fff;
}

#tadarus .tadarus .header-tadarus .pilihan .select-dropdown {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#tadarus .tadarus .body-tadarus {
    padding: 15px;
    background: #F1FBF7;
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat {
    display: block;
    position: relative;
    padding: 25px 0px 25px 0px;
    border-bottom: 1px solid rgb(168, 175, 174);
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat .arab {
    text-align: right;
    font-size: 25px;
    display: block;
    font-weight: 500;
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat p {
    color: #000;
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat .more-info {
    display: flex;
    width: 100%;
    justify-content: center;
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat .more-info a {
    margin: 0px 7px;
}

#tadarus .tadarus .body-tadarus .ayat .list-ayat .more-info a i {
    font-size: 17px;
}

#tadarus .tadarus .next-ayat {
    display: flex;
    justify-content: flex-end;
}

#tadarus .tadarus .next-ayat a {
    padding: 10px;
    background: #01A165;
    color: #fff;
    border-radius: 3px;
    margin: 0px 5px
}

#tadarus {
    padding: 50px 0;
}

#tadarus p {
    line-height: 30px;
}

#kalzak {
    padding: 50px 0;
}

#kalzak .tabel-zakat {
    background-color: #01A99D;
    border-radius: 12px;
    color: #fff;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
}

#kalzak .reset-form {
    background-color: #FF2A1A;
    padding: 10px;
    border-radius: 0 12px 12px 0;
    color: #fff;
    font-size: 12px;
}

#kalzak .donasi {
    background-color: #FF2A1A;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
}

#kalzak .reset-form a {
    color: #fff;
    font-size: 12px;
}

#kalzak label {
    color: #003F59
}

#kalzak p {
    line-height: 30px;
}

#doa {
    padding: 50px 0;
}

#doa .bg {
    background-color: #E8FFEA;
    padding: 20px;
    border-radius: 12px;
}

#doa a h5 {
    background-color: #CEEFD1;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 20px 0;
    color: #727272;
}

#doa a h5:hover {
    background-color: #b8ff8f;
}

#doa .doa-lainnya a {
    background-color: #00910c;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    display: block;
}

#kanal {
    padding: 50px 0;
}

#kanal h1 {
    color: #003F59;
    font-size: 24px;
}

#kanal img.head {
    width: 100%;
    max-width: 325px;
    height: auto;
    margin: 0 auto 20px auto;
    display: block;
    border-radius: 12px;
}

#kanal p {
    color: #000;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0 0 0;
}

#kanal span {
    color: #9E9E9E;
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0 20px 0;
    display: block;
}

#kanal .bg {
    position: relative;
    width: 100%;
    max-width: 325px;
    margin: 10px auto;
}